body {margin: 0;}

li.login {
    float: right;
    display: inline-block;
    padding-right: 10%;
}

li.welcome {
    float: left;
    color:green;
}

li.home {
    padding-left: 35px;
}

li.
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ab3a3a;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #9c3333;
}

.active {
    background-color: #4CAF50;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #9c3333;
}

li.dropdown {
    display: inline-block;
    padding-left: 5%;
}

li.car {
    list-style: none;
    float: none;
    padding-top: 2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c14a4a
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    font-family: cursive;
    color: #d62929;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
    margin: 0 auto;
    width:460px;
    height:345px;
}

a.car {
    background-color: red;
}


li .homeBar {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}