.viewimg {

}
.wrapper {
    float: center;
    margin: auto;
    width: 65em;
}
.bidWrapper {
    float: left;
    margin-left: 54em;
}
.leftDiv {
    float: left;
    width: 60%;
}
.rightDiv {
    float: right;
    width: 21%;
    margin-left: 10px;
    margin-top: -40em;
    margin-right: 7em;
}
img {
    float: left;
    margin: 20px 20px 15px 20px;
    display: block;
    width:600px;
    height:444px;
}
.imgSingle {
    width:650px;
    height:456px;
}
.btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
}
.btn-bid {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-bid:hover {
    background-color: #449d44;
    border-color: #398439;
}
.btn-bid:active {
	position:relative;
	top:1px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.thumbs {
    display: inline-block;
    float:left;
    width: 700px;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: -10px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    box-sizing: border-box;
}
.imgPreview {
    float: left;
    margin: 5px;
    display: block;
    width:122px;
    height:72px;
    opacity: .65;
}
.imgPreview:hover {
    cursor: pointer;
    border: 2px;
    opacity: 1;
}
.selected {
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    border-width: 2px;
    border-color: #1867c3;
    border: 5px;
    opacity: 1;
}

.mask6{
	position:absolute;
	left:50%;
	margin-left:-120px;
	width:240px;
	height:180px;
	overflow:hidden;
}
#box7{
	position:absolute;
}
#box7 span{
	display:block;
	float:left;
}

.sample{padding:20px 30px; margin:4px 0 25px 0; border:1px solid #e1e1e1}

.pageTittle {
    height: 20px;
    float: left;
    padding-left: 2em;
    padding-right: 40em;
    padding-bottom: 1em;
}
.pageTittle a {
    text-decoration:none;
}